* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  /* (Dark Mode Elements) */
  --DarkBlue: hsl(209, 23%, 22%);
  /* (Dark Mode Background) */
  --Very_Dark_Blue: hsl(207, 26%, 17%);
  /* (Light Mode Text) */
  --Very_Dark_Blue1: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --Dark_Gray: hsl(0, 0%, 52%);
  /* (Light Mode Background) */
  --Very_Light_Gray: hsl(0, 0%, 98%);
  /* (Dark Mode Text & Light Mode Elements) */
  --White: hsl(0, 0%, 100%);
}

header {
  width: 100%;
  height: 80px;
  box-shadow: 1px 0px 5px 0px rgba(90, 90, 90, 0.75);
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.name {
  width: 80%;
}

.mode {
  width: 20%;
}

.btn {
  background: none;
  border: none;
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn img {
  width: 20px;
  height: 20px;
  transform: rotate(335deg);
}

.btn span {
  font-size: 1.1rem;
}

ion-icon {
  font-size: 1.5rem;
}

.btn:active {
  transform: scale(0.9);
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
}
.card {
  width: 265px;
  height: 335px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.card div {
  padding: 25px;
}
.card div h2 {
  padding-bottom: 10px;
}
.card div p {
  padding-bottom: 5px;
}
.dark .card {
  background: var(--DarkBlue);
}
