* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  /* (Dark Mode Elements) */
  --DarkBlue: hsl(209, 23%, 22%);
  /* (Dark Mode Background) */
  --Very_Dark_Blue: hsl(207, 26%, 17%);
  /* (Light Mode Text) */
  --Very_Dark_Blue1: hsl(200, 15%, 8%);
  /* (Light Mode Input) */
  --Dark_Gray: hsl(0, 0%, 52%);
  /* (Light Mode Background) */
  --Very_Light_Gray: hsl(0, 0%, 98%);
  /* (Dark Mode Text & Light Mode Elements) */
  --White: hsl(0, 0%, 100%);
}
body {
  background: var(--Very_Light_Gray);
}
header {
  width: 100%;
  height: 75px;
  box-shadow: 1px 0px 5px 0px rgba(31, 29, 29, 0.75);
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.name {
  width: 80%;
}

.mode {
  width: 20%;
}
.mode .btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn img {
  width: 20px;
  height: 20px;
  transform: rotate(335deg);
}

.btn span {
  font-size: 1.1rem;
}

ion-icon {
  font-size: 1.5rem;
}

.btn:active {
  transform: scale(0.9);
}
main {
  padding: 75px;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
}
.card {
  width: 265px;
  min-height: 335px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card:active {
  transform: scale(0.9);
}
.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}
.card div {
  padding: 25px;
}
.card div h2 {
  padding-bottom: 10px;
}
.card div p {
  padding-bottom: 5px;
}
.dark .card {
  background: var(--DarkBlue);
}
.card a {
  text-decoration: none;
  color: inherit;
}
.back {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
}
.back:active {
  transform: scale(0.9);
}
.borders {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.borders span {
  font-size: 1.3rem;
  font-weight: bold;
}
.btn__border {
  min-width: 50px;
  min-height: 30px;
  background: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  background: var(--White);
  cursor: pointer;
  padding: 10px;
}
.dark .btn__border {
  background: var(--DarkBlue);
  color: var(--White);
}
.btn__border:active {
  transform: scale(0.9);
}
.dwcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 78px;
}

.dwcontainer > div {
  width: 50%;
}
.dwsubcontainer1 img {
  width: 500px;
  height: 400px;
  object-fit: contain;
}
.dwsub__details {
  display: flex;
  flex-wrap: wrap;
}
.dwsub__details div {
  width: 50%;
}
.dwsub__details p {
  padding: 5px;
}
.dwsubcontainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}
.fdiv {
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}
.fdiv > div {
  width: 50%;
}
.fdiv--search span {
  display: block;
  max-width: 500px;
  height: 60px;
  background: var(--White);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
ion-icon[name="search-outline"] {
  color: var(--Very_Dark_Blue);
  width: 20%;
}
#search {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  background: none;
}

.dark ion-icon[name="search-outline"],
.dark #search {
  color: var(--White);
}
.fdiv--filter {
  position: relative;
}
.fdiv--filter select {
  width: 200px;
  height: 60px;
  background: var(--White);
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 20px;
  font-size: 1rem;
  position: absolute;
  right: 0px;
}
.dark .fdiv--search span,
.dark select {
  background: var(--DarkBlue);
  color: var(--White);
}
/* /////////////// mobile */
@media screen and (max-width: 1200px) {
  .dwsubcontainer2 {
    padding-top: 32px;
  }
  .dwcontainer div {
    width: 100%;
  }
  .dwsub__details div:nth-child(2) {
    padding-top: 35px;
  }
  .name {
    width: 65%;
  }

  .mode {
    width: 35%;
  }
}

/* /////////////// mobile */
@media screen and (max-width: 500px) {
  header {
    padding: 0px 30px;
  }
  .name {
    width: 65%;
  }
  .name h1 {
    font-size: 1.2rem;
  }
  main {
    padding: 30px;
  }
  .card {
    width: 100%;
  }
  .mode {
    width: 35%;
  }
  .btn span,
  ion-icon {
    font-size: 0.9rem;
  }
  .dwcontainer {
    margin-top: 40px;
  }
  .dwsubcontainer1 img {
    width: 300px;
    height: 200px;
  }
  .dwsubcontainer2 {
    padding-top: 32px;
  }
  .dwcontainer div {
    width: 100%;
  }
  .dwsub__details div:nth-child(2) {
    padding-top: 35px;
  }
  .borders span {
    width: 100%;
  }
  .fdiv {
    gap: 20px;
  }
  .fdiv > div {
    width: 100%;
  }

  .fdiv--filter select {
    position: initial;
  }
}
